/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300|Aref+Ruqaa:700');
html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-size: 16px;
    line-height: 1.6;
    font-family: Helvetica, arial, sans-serif;
    font-weight: lighter;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background: #EEE;
    overflow-y: scroll;
}

#layout {
    margin: 0 auto;
    padding-top: 1em;
    max-width: 768px;
    width: 94%;
}

.container {
    padding-top: 1em;
}

.content-wrapper {
    background: #fff;
    padding: 0 2em 1em 2em;
    box-shadow: 0px 0px 4px rgba(100, 100, 100, 0.25);
    min-height: 800px;
    border-radius: 5px;
}

.header {
    font-family: 'Aref Ruqaa', serif;
    max-width: 768px;
    margin: 0 auto;
    padding: 1em;
    padding-bottom: 0;
    padding-top: 1.8em;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: #fff;
    letter-spacing: 0.05em;
}

.nav {
    max-width: 768px;
    margin: 0 auto;
    display: inline;
}

.nav_item {
    margin: 0 1em 0.3em 1em;
    display: inline-block;
}

h1 {
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 0;
}

h2,
h3,
h4,
h5,
h6 {
    font-size: 1.8em;
    font-weight: normal;
    margin: 1em 0 0.5em 0;
}

h2 {
    font-size: 1.2em;
}

h2:first-of-type {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

h3.paletext {
    margin: -0.3em 0 0.5em 0;
    font-size: 1.1em;
    font-weight: lighter;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 1.1em;
    font-weight: normal;
    color: grey;
}

h6 {
    font-size: 1.0em;
    font-weight: normal;
    font-style: italic;
    color: grey;
}

a {
    text-decoration: none;
    color: #CF0000;
}

a:hover {
    text-decoration: underline;
}

b,
strong {
    font-weight: normal;
}

p {
    font-size: 1em;
    margin: 0.1em 0 0.45em 0;
    line-height: 1.4;
}

ul {
    margin: 0.1em 0 0.1em 0;
}

li p {
    margin: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

code {
    font-family: Geneva, monospace;
    font-size: 0.85em;
    border: #CCC 1px solid;
    padding: 2px;
}

.header a,
.header a:hover {
    text-decoration: none;
    color: rgb(75, 75, 75);
}

.title {
    width: 550px;
}

.title a,
.title a:hover {
    text-decoration: none;
    color: rgb(75, 75, 75);
    font-weight: normal;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #eee;
    margin-top: 3.4286em;
    padding: 1.1429em;
    background: #E6E6E6;
    font-family: "Source Code Pro", monospace;
    font-size: 0.75em;
    width: 100%;
}

.paletext {
    color: gray;
}

.mtime {
    font-style: italic;
    color: gray;
}


/************ INDEX **********/

.row {
    line-height: 1.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    color: rgb(75, 75, 75);
}

span.blog_tag {
    padding: 0 3px 0 4px;
    border-radius: 3px;
    font-size: smaller;
    color: #555;
    font-weight: lighter;
    background: #eee;
    align-content: right;
}

h3 .blog_tag {
    font-size: inherit;
}

tr,
td {
    border-collapse: collapse;
    padding: 0;
    box-sizing: border-box;
}

td {
    padding-right: 0.5em;
    overflow-x: "ellipsi"
}

.col-md-8,
.col-md-8 a {
    font-style: normal;
    white-space: nowrap;
}

.mtime {
    /*float: right;*/
    margin-left: 0.1em;
    margin-right: 0.6em;
}


/********************************/

.text-center {
    text-align: center;
}

img {
    max-width: 100%;
}

.yt_container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.yt_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 48em) {
    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }
}

@media screen and (max-width: 420px) {
    .nav_item {
        margin: 0 1em 0.3em 0.09em;
    }
    img {
        margin: 1em auto;
        display: block;
        float: none;
    }
}

@media screen and (max-width: 330px) {
    .nav_item {
        margin: 0 0 0.3em 0.09em;
    }
}

@media screen and (max-width: 720px) {
    /*td{
        display: inline-block;
    }*/
    .col-md-8,
    .col-md-8 a {
        display: inline-block;
        white-space: normal;
        height: 1em;
        line-height: 1em;
    }
    .mtime {
        font-size: 0.85em;
        display: inline-block;
    }
    .title {
        overflow-x: hidden;
        width: 65%;
    }
}

@media screen and (max-width: 420px) {
    .blog_tag {
        display: none;
    }
    table,
    tbody,
    tr,
    .mtime {
        display: block;
    }
    .mtime {
        font-size: 0.75em;
        display: inline-block;
    }
    td {
        padding: 0;
        margin: 0;
        display: inline-block;
        height: 1em;
        line-height: 1em;
    }
    td.title {
        overflow-x: hidden;
        width: 75%;
    }
}