{{set . "title" .title}}
{{append . "moreStyles" "highlight/styles/vs.css"}}
{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
  <h2> {{.title}} </h2>
  <h3 class="paletext"> <span>{{.tag}}</span> {{.mtime}} </h3>
  {{raw .html}}
</div>

<!-- Code Highlight -->
<script src="/public/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{template "footer.html" .}}
