<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/css/pure-min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/goblog.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
  </head>
  <body>
    <div id="layout">
      <div id="main" class='content-wrapper'>
        <div class='header'>
          <h1>
            <a href="/">{{SiteTitle}}</a>
          </h1>
          <div class="nav">
            {{range Pages}}
              <span class="nav_item">
                <a href="{{.Url}}">{{.Title}} </a>
              </span>
            {{end}}
          </div>
        </div>
